.footer {
  background-color: var(--green);
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  flex-shrink: 0;
}
 
.footer strong {
  font-weight: 700;
}
 
.footer--hidden {
  display: none;
}