/* =========================
   VARIABLES
========================= */

:root {
  --green: #5d913b;
  --yellow: #f4c542;
  --brown: #8b5e3c;
  --cream: #f5efe5;
  --white: #ffffff;
  --text: #2f2f2f;
}
